<div class="w-100 p-4 header">
  <div class="d-flex flex-row justify-content-between">
    <span class="fw-bolder">Header  </span>
    <div class="dropdown ">
      <a
        class="btn btn-secondary dropdown-toggle dropdown-color"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Actions
      </a>
      <ul class=" dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" (click)="viewAllWizkidz()">View all wizkids</a></li>
        <li><button class="dropdown-item" (click)="addWizkid()">Add a new wizkid</button></li>
      </ul>
    </div>
  </div>
</div>
