<div class="row">
  <div class="col-md-12 card-wizkid-item hover-card">
    <div
      style="min-width: 20rem"
      class="d-flex flex-column justify-content-between w-100"
    >
      <div class="d-flex flex-column w-100 gap-3">
        <div class="d-flex gap-2 flex-column">
          <span>Identifier: {{ wizkid._id }} </span>
          <span *ngIf="currentUser.value">Role: {{ wizkid.email }}</span>
          <span>{{ wizkid.picture }}</span>
          <span>Name: {{ wizkid.name }}</span>
          <span>Role: {{ wizkid.role }}</span>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <i *ngIf="isAuthenticated" (click)="navigateToCustomize(wizkid)" class="icon-styling fs-6 fas fa-pen fa-lg"></i>
          <i (click)="fireUser(wizkid)" *ngIf="isAuthenticated && wizkid!==currentUser.value" class='fas fa-fire fa-lg icon-styling'></i>
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
